#sidebar-bg {
    height: 100vh;
    background: linear-gradient(
        to right, 
        rgba(0, 0, 0, 1) 0%,      
        rgba(0, 0, 0, 0) 80%    
    );
}

@media (max-width: 768px) {
    .fa-bars {
        display: none; 
    }
}
.language-switcher-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
  }
  