.search-bar-container {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  padding: 8px 20px;
  height: 6vh;
  margin: 0 auto;
}

.search-bar {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  outline: none;
}

.search-bar::-webkit-search-cancel-button{
  filter: brightness(20);
  cursor: pointer;
}

.search-icon {
  font-size: 20px;
  color: white;
  margin-right: 10px;
}

/* Nuevo estilo para el balance */
.balance-text {
  font-size: 18px;
  font-weight: bold;
  color: #28a745;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  border-radius: 8px;
  background-color: rgba(40, 167, 69, 0.1);
  display: inline-block;
  margin-right: 20px; /* Añadir espacio al lado derecho */
  align-self: center; /* Asegura que el balance esté centrado verticalmente */
}

.notifications .notification-badge {
  position: absolute;
  top: -10px;
  right: -15px;
  width: 0.1em;
  display: flex;
  justify-content: center;
  font-size: 12px;
  background-color: #ff4b5c;
}

.notifications .notification-item {
  color: #fff;
  position: relative;
  width: 25px;
}

.notifications .notification-item:hover {
  color: #ffffffa4;
}

.custom-navbar .dropdown-toggle {
  background-color: transparent !important;
  border: none !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.custom-dropdown-menu {
  position: absolute !important; 
  z-index: 1050; 
}

.custom-dropdown-menu .dropdown-item:active, .custom-dropdown-menu .dropdown-item:focus {
  background-color: #8C52FF !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
