.profile-card-container {
  max-width: 380px;
  height: 180px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: 0.3s;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.profile-card-image {
  width: 150px;
  margin: 20px;
}

.profile-card-image img {
  width: 100%;
  border-radius: 50%;
}

.profile-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}

.profile-card-title {
  margin-top: 35px;
}

.profile-card-title h3 {
  font-weight: lighter;
  font-size: 1.5rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.profile-card-title p {
  font-size: 1rem;
  color: gray;
  margin: 0;
  overflow-y: hidden;
  overflow-wrap: break-word;
  max-height: 175px;
}

a, a:hover {
  color: rgb(140, 82, 255);
  font-weight: 600;
}
