.beat-detail {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 2rem;
  padding: 2rem;
  min-height: calc(100vh - 80px);
}

.beat-detail__left {
  background-color: #1E1E1E;
  padding: 1.5rem;
  border-radius: 8px;
}

.beat-cover {
  margin-bottom: 1rem;
}

.beat-cover img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 4px;
}

.beat-detail__left h2 {
  margin: 0.5rem 0;
  color: white;
}

.beat-detail__left p {
  color: #888;
  margin-bottom: 1rem;
}

.action-buttons {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.action-buttons button {
  background: none;
  border: 1px solid #444;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: white;
  position: relative;

}

.info-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.8rem;
  margin-top: 1rem;
  color: white;
}

.beat-detail__right {
  background-color: #1E1E1E;
  padding: 1.5rem;
  border-radius: 8px;
}

.licenses {
  margin-top: 2rem;
}

.licenses h3 {
  color: white;
  margin-bottom: 1rem;
}

.license-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.license-card {
  background-color: #2A2A2A;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.license-card h4 {
  color: white;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
}

.license-card .price {
  color: white;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  transition: all 0.3s ease;
}

.license-card .format {
  color: #999;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.license-card.selected {
  background-color: white;
  border-color: white;
}

.license-card.selected h4 {
  color: #000;
}

.license-card.selected .price {
  color: #000;
}

.license-card.selected .format {
  color: #666;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.beat-info {
  color: white;
}


.liked{
  color: red;
}


.like-count {
  position: absolute;
  top: 13px; /* Ajusta este valor según lo necesites */
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #000;
}

