.btn-primary {
    background-color: #8C52FF;
    border-color: #8C52FF;
    color: white;
}

.btn-primary:hover, .btn-light-grey:active {
    background-color: white !important;
    color: #7834ff !important;
    outline: none !important; 
    box-shadow: none !important;  
}

.btn-light-grey {
    color: gray;
}

.btn-light-grey:hover, .btn-light-grey:active {
    background-color: white !important;
    color: #7834ff !important;
    outline: none !important; 
    box-shadow: none !important;
}