.welcome-text {
display: flex;

}

.search-bar-explore {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-icon {
  color: #999999;
  margin-right: 0.5rem;
}

input[type="text"] {
  border: none;
  outline: none;
  font-size: 1rem;
  color: #999999;
  flex: 1;
}
