.custom-navbar {
    background-color: transparent !important;
    padding: 10px 20px;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    padding-left: 20px;
}

.menu-icon-style {
    font-size: 24px;
    color: white;
}

.logo {
    width: 150px;
    height: auto;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-bar-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search-bar {
    width: 100%;
    padding: 10px 40px 10px 35px;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.search-bar::placeholder {
    color: white;
    opacity: 0.8;
}

.search-bar:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.search-bar::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    appearance: searchfield-cancel-button;
    background: white;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    color: white;
    cursor: pointer;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    opacity: 0.8;
    font-size: 18px;
}

.notifications {
    display: flex;
    align-items: center;
    gap: 20px;
}

.notification-item {
    position: relative;
    display: flex;
    align-items: center;
}

.notification-icon {
    font-size: 20px;
    color: white;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 12px;
    font-weight: bold;
}

.client-dropdown {
    background: none;
    border: none;
    padding: 0;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}

.client-name {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.client-dropdown:hover .client-name,
.client-dropdown:focus .client-name {
    color: rgba(255, 255, 255, 0.7);
}

.client-dropdown,
.client-dropdown:focus,
.client-dropdown:hover {
    background-color: transparent !important;
    outline: none !important;
    color: white !important;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.9);
    border: none;
}

.dropdown-item {
    color: white;
}

